* {
    margin: 0px;
    padding: 0px;

}

body {
   display:flex;
   justify-content:center;
   height:100%;
   background: whitesmoke;
   align-items:center;
}
.master{
    display: flex;
}

.card{
    height:400px;
    margin:50px;
    box-shadow:5px 5px 20px black;
    /*overflow:hidden;*/
}
.card_img {
   height:400px;
   width:350px;
   border-radius:3px;

}

.intro{
    height:70px;
    width:350px;
    padding:6px;
    box-sizing:border-box;
    position:absolute;
    background:rgb(27,27,27, .5);
    color:white;
    bottom:170px;
    transition:all 0.5s ease;
}

h1 {
    color:white;
    margin:10px;
    font-size:40px;
}

p{
    font-size:20px;
    margin:20px;
    visibility:hidden;
    opacity:0;
}

span{
    font-weight:bold;

}

.card:hover{
    cursor:pointer;
}

.card:hover .intro{
    height:400px;
    bottom:170px;

}

.card:hover p{
    opacity:1;
    visibility:visible;
}

@media  screen and (min-width: 768px) {
    .master{
        grid-template-columns: repeat(2,1fr);
        column-gap: 1.5rem;
    }
}
