:root {
    --first-color: hsl(82,60%,28%);
    --title-color:  hsl(0,0%,15%);
    --text-color: hsl(0,0%,35%);
    --body-color: hsl(0,0%,95%);
    --container-color:  hsl(0,0%,100%);


    /*--body-font: "Poppins", sans-serif;
    --h2-font-size: 1.25rem;
    --small-font-size: 813rem;*/
}


@media screen and (min-width: 1120px) {
    :root {
        --h2-font-size: 1.5rem;
        --small-font-size: .875rem;
    }
    
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: var(--body-font);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1{
    margin:100px;
    text-align: center;
    font-size:30px;
}

h2 {
    text-align:center;
    font-weight:bold;
    color:darkcyan;
}
h4 {
    text-align:center;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.master {
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;

}
.card__container{
display: grid;
row-gap: 3.5rem;
}
.card__article{
    position: relative;
}
.card__img{
    height:300px;
    width: 328px;
    margin:50px;
    border-radius: 1.5rem;
}

.card__data{

    width: 288px;
    background-color: var(--container-color);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0; 
    transition: opacity 1s 1s;
}

.card__description{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
}
.card__title{
    font-size: var(--h2-font-size);
    font-weight: 500;
    color: var(--title-color);
    margin-bottom: .75rem;
}

.card__button{
    text-decoration: none;
    font-size: var(--small-font-size);
    font-weight: 500;
    color: var(--first-color);
}

.card__button:hover{
    text-decoration: underline;
}

.card__article:hover .card__data{
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article:hover{
    animation: remove-overflow 2s forwards;
}
.card__article:not(:hover){
    animation: show-overflow 2s forwards;
}
.card__article:not(:hover) .card__data{
    animation: remove-data 1s forwards;
}

.center{
    position:fixed;
    bottom:-20%;
    left:90%;
    transform:translate(-50%, -50%);
}

.center button {
    padding:10px 20px;
    border:none;
    outline:none;
    font-size:15px;
    border-radius:20px;
    cursor:pointer;
    background: transparent;
    color:#3284ed;
}

.popup {
    position:fixed;
    top:100vh;
    left:0;
    width:100%;
    height:100%
}

.popup .overlay {
    position:absolute;
    top:0;
    left:0;
    transform:scale(1);
    background:rgba(0,0,0,0.5);
    opacity:0;
    transition:opacity 100ms ease-in-out 200ms;
}

.popup .popup-content {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%) scale(1.15);
    width:50%;
    background: #fff;
    padding:15px;
    border-radius:20px;
    opacity:0;
    box-shadow: 0px 2px 2px 5px rgba(0,0,0,0.05);
    transition:all 300ms ease-in-out;
}

.popup .popup-content h2{
    margin:10px;
    font-size:25px;
    color:#111;
    text-align:center;
}

.popup .popup-content p {
    margin:15px 0px;
    color:#222;
    font-size:16px;
    text-align:center;

}

.popup .popup-content .controls {
    display:flex;
    justify-content: center;
    margin:20px 0px 0px;
}


.popup .popup-content .controls button {
    padding:10px 20px;
    border:none;
    outline:none;
    font-size:15px;
    border-radius:20px;
    cursor:pointer;
    
}


.popup .popup-content .controls .close-btn {
    background: transparent;
    color:#3284ed;

}


.popup.active {
    top:0px;
    transition:top 0ms ease-in-out 0ms;
}


.popup.active .overlay {
    opacity:1;
    transition: all 800ms ease-in-out;
}

.popup.active .popup-content {
    transition:translate(-50%, -50%) scale(1);
    opacity:1;
}




@keyframes show-data{
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow{
    to{
        overflow:initial;
    }
}

@keyframes remove-data{
    0%{
        transform: translateY(-7rem);
    }
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0%{
        overflow: initial;
        pointer-events: none;
    }
    50%{
        overflow: hidden;
    }
}

@media screen and (max-width: 324px) {
    .master{
        margin-inline: 1rem;
    }
}

.card__data{
    width: 250px;
    padding: 1rem;
}



@media  screen and (min-width: 768px) {
    .card__container{
        grid-template-columns: repeat(2,1fr);
        column-gap: 1.5rem;
    }
}

@media screen and (min-width: 1120px) {
    .master{
        height: 100vh;
    }
    .card__container{
        grid-template-columns: repeat(3, 1fr);
    }
    .card__img{
        width: 348px;
    }
    .card__data{
        width: 316px;
        padding: 2.5rem;
    }
}

@media screen and (max-width: 700px) {

    .master {
        position:absolute;
        right:20%;
    }

    .popup .overlay {
        width: 100%;
        height: 100%;
    }

    .popup .popup-content {
        width:70%;
        padding: 20px;
  
    }

    .popup .popup-content h2 {
        font-size: 22px;
    }

    .popup .popup-content p {
        font-size: 16px;
    }

    .popup .popup-content .controls button {
        font-size: 16px;
        padding: 10px 20px;
    }
   }

@media screen and (min-width:500px) and (max-width: 770px) {
    .master {
        position:absolute;
        right:13%;
    }
}

